.get-started-section{
    width: 80%;
    margin: 0 auto;
    text-align: center
}
.get-started-section span{
    color: #777
}


.get-started-section input,
.get-started-section textarea{
    border-radius: 28px;
    background-color: #F5F9FA;
    border: 2px solid  #F5F9FA;
    width: 100%;
    font-size: 14px
}

.get-started-section input{
    padding: 15px 10px;
    margin-bottom: 20px;
}
.get-started-section textarea{
    padding: 15px 10px 60px;
    border: 2px solid #F5F9FA
}

.get-started-section input:focus,
.get-started-section textarea:focus{
    outline-width: 0;
    border: 2px solid #272727
}

.get-started-section form button{
    background-color: #f6ec32;
    width: 100%;
    border-radius: 28px;
    padding: 12px 0;
    margin: 20px 0 80px;
    border: none;
    font-size: 14px;
    transition: all 0.3s;
}
.get-started-section form button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(12, 5, 5, 0.4);
}
.get-started-section form button:focus{
    outline-width: 0;
}
@media(min-width:1200px){
    .get-started-section{
        width: 50%;
    }
    .get-started-section span{
        color: #777;
        display: block;
        margin: 0 10px
    }
}