.cta{
    text-decoration: none;
    background-color: #f6ec32;
    border-radius: 28px;
    color: #272727;
    padding: 18px 30px;
    font-size: 14px;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px 0px rgba(12, 5, 5, 0.2);
}
.cta:hover{
 box-shadow: 0px 0px 20px 0px rgba(12, 5, 5, 0.4);
 /* transform: scale(1.1) */
}