.footer{
    background-color: #272727;
}
.logo-footer{
    width: 200px
}
.footer-container{
    padding: 80px 40px 60px 
}
.footer-title{
    color: #fff;
    margin-top: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-section-container{
    margin-bottom: 60px
}
.footer-container p {
    line-height: 10px;
}


@media(min-width: 768px){
    .footer{
        margin: 0 4% 50px;
        border-radius: 0 0 16px 16px;
    }
    .logo-footer{
        position: relative;
        top: 70px
    }
    .footer-container{
        display: flex;
        justify-content: space-evenly;
        padding: 60px 40px
        
    }
   
}